<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/course.css">
    <title>Cursos</title>
</head>
<body>
    <header>
        <h1>M0-Cursos</h1>
        <nav class="navbar">
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./insertCourse.html">Criar curso</a></li>
            </ul>
        </nav>
    </header><!--Header-->
        <button id="show" onclick="showCourses()">Mostrar cursos</button>
    <section class="courses-container">
    </section><!--Courses Container-->
    <footer>
        <p>Todos os direitos reservados &copy;M-z3r0</p>
    </footer><!--Footer-->
    <script src="../assets/js/script.js"></script>
</body>
</html>