<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/insert.css">
    <title>Criar curso</title>
</head>
<body>
    <header>
        <h1>M0-Cursos</h1>
        <nav class="navbar">
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./coursesPage.html">Ver cursos</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <form id="form">
            <input type="text" id="nomeICP">
            <input type="text" id="duracaoICP">
            <textarea id="descICP"></textarea>
            <input type="file" id="imagemICP" accept="image/*" required />
            <button type="submit">Enviar</button>
        </form>
    </main>
    <footer>
        <p>Todos os direitos reservados &copy;M-z3r0</p>
    </footer>
    <script src="../assets/js/script.js"></script>
</body>
</html>